/**/
#imgCel{
  max-width: 150px;
  width: 250x;
  margin-left: 25%;
  margin-top: 5%;
  
}
.row valor h1{
  text-align: center;
}
.row nome h1{
  text-align: center;
}

body {
  background-size: 800px 800px ;
}

.decoration{
  
   background-color: white;
   opacity:0.6;
   width: 100%;
}

 p{
   color: #ff0000;
   font-family: monospace;
   font-weight: bold;
   font-size: 18px;
 }

 .result{

   font-size: 10.5px;
 }
 
