/**/
#imgCel{
  max-width: 150px;
  width: 250x;
  margin-left: 25%;
  margin-top: 5%;
  
}
.row valor h1{
  text-align: center;
}
.row nome h1{
  text-align: center;
}

body {
  background-size: 800px 800px ;
}

p{
  
   background-color:white;
   opacity:0.9;
   border-radius: 10px;
   text-align: center;
}

 p{
   color: #007bfd;
   font-family: monospace;
   font-weight: bold;
   font-size: 18px;
 }

 .result{

   font-size: 10.5px;
 }
 
